.listadoPedido {
  .titlePedido {
    text-align: center;
    padding-top: 2rem;
    color: white;
    margin-bottom: 4.5rem;
  }

  .containerVacio {
    text-align: center;

    .sinProduc {
      color: #d8d8d8;
    }

    .btnFinalizarCompra {
      width: 290px;
      height: 35px;
      margin: 0 auto;
      margin-top: 1.5rem;
      text-align: center;
      border-radius: 8px;
      border: none;
      background-color: white;
      color: #00000080;
      font-weight: 900;

      &:hover {
        background-color: #37ff8b8f;
      }
    }
  }
  .editar {
    color: #37ff8b;
    position: absolute;
    right: 4%;
    top: 9%;
    font-size: 12px;

    &:hover {
      color: #baff39;
      cursor: pointer;
    }
  }

  .contenedorProductos {
    &:last-child {
      padding-bottom: 7rem;
    }

    .containerProduc {
      margin: 1rem 1.2rem 0 0.7rem;
      height: 5rem;
      display: flex;
      background-color: #383838;
      position: relative;
      border-radius: 8px;
      box-shadow: 7px 7px 18px 0px #383838;

      .precio {
        position: absolute;
        top: 9%;
        right: 3%;
        color: white;
      }
      .containerImg {
        display: flex;
        padding: 5px;

        img {
          width: 70px;
          height: 70px;
          border-radius: 8px;
        }

        .infoProdc {
          max-width: 80%;
          margin-left: 0.5rem;

          .nameProd {
            color: white;
            font-weight: 600;
          }

          .description {
            max-width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: #d8d8d8;
            margin-top: 0.2rem;
          }

          .eliminar {
            display: none;
            position: absolute;
            font-size: 10px;
            color: #d8d8d8;
            bottom: 7%;
            cursor: pointer;
            &:hover {
              color: white;
            }
          }
          .cantidadItem {
            margin-top: 0.2rem;
            color: #d8d8d8;
            font-size: 11px;
            display: block;

            .numero {
              color: #baff39;
              font-size: 16px;
            }
          }
        }
      }
      .contador {
        position: absolute;
        width: 30%;
        bottom: 0%;
        right: 0%;
        visibility: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .btnContador {
          border: none;
          background-color: transparent;
          font-size: 30px;
          color: #37ff8b;

          &:hover {
            cursor: pointer;
          }
        }

        .numer {
          color: white;
          font-size: 22px;
        }
      }
      &.modoEdit {
        .containerImg {
          .infoProdc {
            .cantidadItem {
              display: none;
            }

            .eliminar {
              display: block;
            }
          }
        }

        .contador {
          visibility: visible;
        }
      }
    }
  }

  .detalleCompra {
    border-top: 1px solid #d8d8d873;
    border-bottom: 1px solid #d8d8d873;
    width: 80%;
    padding: 1.5rem 0;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 9rem;
    display: flex;
    flex-direction: column;
    .detalleProd {
      padding-left: 0.7rem;
      color: white;
    }

    .cantidadTotal {
      padding-left: 0.7rem;
      margin: 1rem 0;
      color: #d8d8d8;

      .numeroTotal {
        padding-left: 2rem;
        color: #baff39;
      }
    }

    .priceTotal {
      padding-left: 0.7rem;
      margin-bottom: 1.5rem;
      color: #d8d8d8;

      .precioNumber {
        color: #baff39;
        padding-left: 1rem;
      }
    }

    .btnFinalizarCompra {
      cursor: pointer;
      width: 290px;
      height: 35px;
      margin: 0 auto;
      text-align: center;
      border-radius: 8px;
      border: none;
      background-color: #ffffff;
      color: #519168;
      font-weight: 900;

      &:hover {
        color: white;
        background-color: #37ff8b;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .listadoPedido
    .contenedorProductos
    .containerProduc
    .containerImg
    .infoProdc {
    max-width: 62%;
    .description {
      max-width: 89%;
    }
  }
}

@media screen and (max-width: 320px) {
  .listadoPedido {
    .editar {
      top: 21%;
    }

    .contenedorProductos .containerProduc {
      margin: 1rem 0.4rem 0 0.4rem;

      .containerImg .infoProdc .description {
        max-width: 64%;
      }
    }

    .detalleCompra {
      .detalleProd {
        padding-left: 0;
      }

      .cantidadTotal {
        padding-left: 0;

        .numeroTotal {
          padding-left: 0.5rem;
        }
      }

      .priceTotal {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .listadoPedido {
    width: 1000px;
    margin: 0 auto;

    .editar {
      right: 25%;
    }
  }

  .contenedorProductos {
    width: 700px;
    margin: 0 auto;
  }
}
