.containerBuscador {
  width: 90%;
  margin: 0 auto;
  .titleBusqueda {
    text-align: center;
    padding: 2rem 0 1rem 0;
    color: white;

    .titleColor {
      color: #37ff8b;
    }
  }

  .inputBuscador {
    height: 50px;
    display: flex;
    justify-content: center;

    .inputB {
      width: 50%;
      height: 30px;
      border-radius: 8px;
      border: none;
      padding-left: 1rem;

      &::placeholder {
        font-weight: 600;
        border: none;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .gridsvg {
    display: flex;
    justify-content: center;
    height: 30rem;
    margin: 1rem 0 5rem 0;
    .ulGrid {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, auto);
      background-color: rgb(254 254 254 / 94%);

      .svgPedido {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset 1px 0px 2px 0px #c0c0c0;

        .ImgSvg {
          width: 45px;
          height: 45px;
        }

        .nameSvg {
          color: #676767;
          margin-top: 0.5rem;
          font-size: 12px;
        }

        &:hover {
          box-shadow: inset 0px 2px 7px 1px #cccccc;
          background-color: rgb(225 225 225 / 14%);
          cursor: pointer;
          .nameSvg {
            color: black;
          }
        }
      }
    }
  }
}
